@media (max-width: 1120px) {
    .hero_area {
        height: auto;
    }

    .slider_section {
        padding: 50px 0;

    }
}

@media (max-width: 992px) {
    .custom_nav-container .nav_search-btn {
        background-position: center;
    }

    .service_section .card-deck {

        flex-direction: column;

    }

    .service_section .card-deck .card {
        margin-bottom: 25px;
    }
    #menuBtn{
        display: block;
    }
    #sideNav{
        width: 150px;
        height: 100vh;
        position: fixed;
        padding-top: 25%;
        right: -150px;
        top: 0;
        background: #f67c92;
        z-index: 2;
        transition: .5s;
    }
}

@media (max-width: 768px) {

    .slider_img-box {

        width: 85%;
        margin: 65px auto;

    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }


    .slider_section .custom_carousel-control {

        position: absolute;
        top: 100%;
        left: 50%;
        width: 105px;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-between;

    }

    .fruit_section .fruit_detail-box {

        margin-bottom: 40px;
        text-align: center;

    }

    .fruit_detail-box>div {

        display: flex;
        justify-content: center;

    }

    .contact_section {
        background-size: 105px;
    }

    .contact_section input {

        background-color: transparent;

    }

    .info_section .col-md-3 {
        text-align: center;
    }

    .info_section .col-md-3:not(:nth-last-child(1)) {

        margin-bottom: 35px;
    }

    .tasty_section h2 {

        font-size: 80px;
    }
}

@media (max-width: 576px) {
    .slider_item-container .slider_item-detail {

        text-align: center;

    }

    .slider_item-container .slider_item-detail .d-flex {

        justify-content: center;

    }
}

@media (max-width: 480px) {}

@media (max-width: 400px) {
    .slider_item-detail h1{
        font-size: 50px;
    }
    #icon{
        width: px;
        margin: 0% 40%;
    }
}

@media (max-width: 360px) {
    
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }

}